/*===ETIQUETAS HTML VAN CON EL NOMBRE NOMAS===*/
/*=====LAS CLASES VAN CON "." ADELANTE==*/
/*=====LOS ID VAN CON "#" ADELANTE==*/
/*======================================*/


/*======================================*/
/*===============GENERAL================*/
/*======================================*/
body{
    background-color: black;
    color: #a014c8;
}
.header {
    background-color: black;
}
#colour{
    background-color: #e0e0e0;
}

/*======================================*/
/*============SECCION ENCABEZADO=========*/
/*======================================*/




/*======================================*/
/*============SECCION NAVBAR============*/
/*======================================*/



/*======================================*/
/*==============SECCION MENU============*/
/*======================================*/


